<template lang="pug">
  b-card.list-item.overflow-hidden.m-1(
    overlay
    :img-alt="movie.Title"
    text-variant="white"
    :title="movie.Title + ' (' + movie.Year + ')'",
    :style="{'background-image': 'url(' + movie.Poster + ')'}"
  )
    favourite-button(:movie="movie")
    b-link.stretched-link(:to="{ name: 'profile', params: { id: movie.imdbID }}")



</template>

<script>
import { BLink } from 'bootstrap-vue'

import FavouriteButton from '@/components/favourite-button'

export default {
  name: 'ListItem',

  components: {
    'b-link': BLink,
    FavouriteButton
  },

  props: {
    movie: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
  .list-item {
    width: 10rem;
    height: 14.5rem;
    background-size: cover;
    background-repeat: no-repeat;

    .card-body {
      background: rgba(0, 0, 0, 0.5);

      .card-title {
        font-size: 1.25rem;

        display: -webkit-box;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;

        overflow: hidden;
        max-height: 6rem;

        text-overflow: -o-ellipsis-lastline;
        -o-text-overflow: -o-ellipsis-lastline;
      }

      .favourite-button {
        position: absolute;
        bottom: 1rem;
        z-index: 2;
      }
    }
  }
</style>
