<template lang="pug">
  .favourite-button
    b-button(
      v-if="!isFavourite",
      @click="addFav",
      pill,
      variant="success",
      size="sm"
    )
      span.mr-1 {{ $t('add') }}
      font-awesome-icon.mr(icon="star")

    b-button(
      v-else,
      @click="removeFav",
      pill,
      variant="danger",
      size="sm"
    )
      span.mr-1 {{ $t('remove') }}
      font-awesome-icon.mr(icon="star")

</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { BButton } from 'bootstrap-vue'

export default {
  name: 'FavouriteButton',

  components: {
    'b-button': BButton
  },

  props: {
    movie: {
      type: Object,
      required: true
    }
  },

  computed: {
    ...mapGetters('favourites', [
      'getFavourites'
    ]),

    isFavourite () {
      return this.getFavourites.find(favourite => favourite.imdbID === this.movie.imdbID)
    }
  },
  methods: {
    ...mapActions('favourites', [
      'addFavourite'
    ]),
    ...mapActions('favourites', [
      'removeFavourite'
    ]),
    addFav () {
      this.addFavourite(this.movie)
    },
    removeFav () {
      this.removeFavourite(this.movie.imdbID)
      if (this.$route.name === 'profile') {
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>
