<template lang="pug">
  .favourites.d-flex.flex-wrap.justify-content-center
    list-item(
      v-for="movie in getFavourites",
      :key="movie.imdbID",
      :movie="movie"
    )
</template>

<script>
import { mapGetters } from 'vuex'

import ListItem from '@/components/list-item'

export default {
  name: 'Favourites',

  components: {
    ListItem
  },

  computed: {
    ...mapGetters('favourites', [
      'getFavourites'
    ])
  }
}
</script>
