<template lang="pug">
  b-container.profile
    b-row(v-if="movie")
      b-col(v-if="movie.Poster !== 'N/A'", xs="12", sm="4", md="3")
        img.img-fluid(:src="movie.Poster")
      b-col
        h1.h4.mt-2.pt-2.pt-sm-0 {{ movie.Title }} ({{ movie.Year }})
        favourite-button.mb-1(:movie="movie")
        p.text-muted
          template(v-if="movie.Country !== 'N/A'") {{ movie.Country }}
          template(v-if="movie.Runtime !== 'N/A'")  ⋅ {{ movie.Runtime }}

        p(v-if="movie.Plot !== 'N/A'") {{ movie.Plot }}
        b-badge.mr-1(v-for="(genre, index) in genres", :key="index", pill) {{ genre }}

</template>

<script>
import axios from 'axios'
import { get } from 'lodash-es'

import { BBadge } from 'bootstrap-vue'

import FavouriteButton from '@/components/favourite-button'

export default {
  name: 'Profile',

  components: {
    'b-badge': BBadge,
    FavouriteButton
  },

  data () {
    return {
      movie: null
    }
  },

  computed: {
    movieId () {
      return this.$route.params.id
    },
    genres () {
      return get(this.movie, 'Genre').split(', ')
    }
  },

  methods: {
    getMovie () {
      if (!this.movieId) return

      axios
        .get(`${process.env.VUE_APP_OMDBAPI_ENDPOINT}/?apikey=${process.env.VUE_APP_OMDBAPI_KEY}&i=${this.movieId}`)
        .then(response => {
          if (response.data.Response === 'True') {
            this.movie = response.data
          } else {
            this.$router.push({ name: 'home' })
          }
        })
    }
  },

  created () {
    this.getMovie()
  }
}
</script>
