<template lang="pug">
  .main-navbar
    b-navbar(
      type="dark",
      variant="info"
    )
      b-navbar-brand(to="/") vuevies

      b-collapse(is-nav)
        b-navbar-nav
          b-nav-item(
            v-if="getFavourites.length",
            to="/favourites",
            exact,
            exact-active-class="active"
          )
            span.d-none.d-sm-inline.mr-1 {{ $t('my') }}
            font-awesome-icon.mr(icon="star")
          b-nav-form.ml-1
            main-search

        b-navbar-nav.ml-auto
          b-nav-item-dropdown(:text="getLanguage.toUpperCase()", right)
            b-dropdown-item(
              v-for="(lang, index) in langs",
              :key="index",
              @click="changeLanguage(lang)"
            ) {{ lang.toUpperCase() }}

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import { BNavbar, BNavbarBrand, BCollapse, BNavbarNav, BNavItem, BNavForm, BNavItemDropdown, BDropdownItem } from 'bootstrap-vue'

import MainSearch from '@/components/main-search'

export default {
  name: 'Header',

  components: {
    'b-navbar': BNavbar,
    'b-navbar-brand': BNavbarBrand,
    'b-collapse': BCollapse,
    'b-navbar-nav': BNavbarNav,
    'b-nav-item': BNavItem,
    'b-nav-form': BNavForm,
    'b-nav-item-dropdown': BNavItemDropdown,
    'b-dropdown-item': BDropdownItem,
    MainSearch
  },

  data () {
    return {
      langs: ['en', 'sk']
    }
  },

  computed: {
    ...mapGetters('language', [
      'getLanguage'
    ]),
    ...mapGetters('favourites', [
      'getFavourites'
    ])
  },

  methods: {
    ...mapActions('language', [
      'setLanguage'
    ]),
    changeLanguage (lang) {
      this.setLanguage(lang)
      this.$i18n.locale = lang
    }
  }
}
</script>
