<template lang="pug">
  .home
    b-container(v-if="!getFilter")
      b-jumbotron(header="vuevies" :lead="$t('cta')")

    .d-flex.flex-wrap.justify-content-center(v-else)
      list-item(
        v-for="(movie, index) in movies",
        :key="index",
        :movie="movie"
      )

    infinite-loading(
      v-show="getFilter",
      ref="infinite",
      @infinite="infiniteHandler"
    )

</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import { debounce } from 'lodash-es'

import { BJumbotron } from 'bootstrap-vue'

import ListItem from '@/components/list-item'

export default {
  name: 'Home',

  components: {
    'b-jumbotron': BJumbotron,
    ListItem
  },

  data () {
    return {
      movies: [],

      api: `${process.env.VUE_APP_OMDBAPI_ENDPOINT}/?apikey=${process.env.VUE_APP_OMDBAPI_KEY}`,
      page: 1
    }
  },

  computed: {
    ...mapGetters('filter', [
      'getFilter'
    ]),
  },

  watch: {
    getFilter () {
      this.initList()
    }
  },

  methods: {
    infiniteHandler(state) {
      axios.get(this.api, {
        params: {
          s: this.getFilter,
          page: this.page,
        },
      }).then(({ data }) => {
        const { Search } = data
        if (Search) {
          this.page++
          this.movies.push(...Search)
          state.loaded()
        } else {
          state.complete()
        }
      })
    },

    initList: debounce(function () {
      this.$refs.infinite.stateChanger.reset()
      this.movies = []
      this.page = 1
    }, 250)
  }
}
</script>
