<template lang="pug">
  #app
    main-navbar
    router-view.mt-3

</template>

<script>
import MainNavbar from '@/components/main-navbar'

export default {
  name: 'App',

  components: {
    MainNavbar
  }
}
</script>
