<template lang="pug">
  b-form-input.main-search.mr-sm-2(
    v-model.trim="search"
    :placeholder="$t('search')"
    @input="onSearch()"
  )

</template>

<script>
import { mapActions } from 'vuex'
import { BFormInput } from 'bootstrap-vue'

export default {
  name: 'MainSearch',

  components: {
    'b-form-input': BFormInput
  },

  data () {
    return {
      search: ''
    }
  },

  methods: {
    ...mapActions('filter', [
      'setFilter'
    ]),
    onSearch () {
      if (this.search.length > 2) {
        this.setFilter(this.search)

        if (this.$route.name !== 'home') {
          this.$router.push({ name: 'home' })
        }
      } else {
        this.setFilter('')
      }
    }
  },

  mounted () {
    this.$el.focus()
  }
}
</script>

<style lang="scss" scoped>
  .main-search {
    border-radius: 2rem;
  }
</style>
